#bodycompleto{
    background-image: url("./images/BG\ 01.jpg");
   font-family: "Basquerville", "arial";
   font-style: bold;
}

#barraNav li a{
    color: blanchedalmond;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    border: none;
    transition: padding 0.5s; font-size: medium 0.5s;

}

#barraNav li a:hover{
    color: blanchedalmond;
    text-decoration: none;
    font-weight: bold;
    border: none #ccc;
    padding: 0.8em;
    font-size: 1.5em;        
}
#barraNav li{
    font-size: 20px;

}
.divlogo img{ 
    width: 120px;
    height: 85px;
    margin-left: 480px;
   } 
main {
    width: 100%;
    max-height: 450px;
}
#carouselExampleControls {
    max-height: 440px;
}
.carousel-inner {
    width: 100%;
        max-height: 440px;
}


 .tituloImagenPrincipal {
    font-family: "Basquerville", "arial";
   font-style: bold;
   font-size: 50px;
   color: blanchedalmond;
}

.tituloImagenPrincipal h1 {
    margin-left: 0px;
    margin-right: 120px;
    row-gap: 0.1em;   
}
.design h1{
    margin-top: 5px;
    margin-inline: 200px;

}  */

footer {
    width: 1225;
    height: 100px;
    font-size: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "redesicons contactoGral"
    
    }
    
    .redesicons {
    grid-area: footer;
    list-style: none;
    gap: 1em;
    }
    
    .redesicons a img {
        width: 50px;
        height: 50px;
        margin: 3px;
        border-radius: 15px;
        list-style: none;
        transition: padding 0.5s; size: 1em 0.5s;
    }
    
    .redesicons a img:hover {
        padding: 0em;
        width: 70px;
        height: 70px;
    
    }
    
    .contactoGral {
        grid-area: footer;
        display: flex;
        height: 120px;
        max-width: 100%;
        max-height: 100px;
        margin-left: 760px;
        padding: 1em;
        
    
    }
    
    .contactoGral p {
        font-family: "Basquerville", "arial";
        color:  blanchedalmond;
        font-size: 14px;
    
    
    }    
    


