#bodycompleto{
    background-image: url("./images/BG\ 01.jpg");
   font-family: "Basquerville", "arial";
   font-style: bold;
}

#barraNav li a{
    color: blanchedalmond;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    border: none;
    transition: padding 2s; font-size: medium 2s;

}

#barraNav li a:hover{
    color: blanchedalmond;
    text-decoration: none;
    font-weight: bold;
    border: none #ccc;
    padding: 0.8em;
    font-size: 1.5em;        
}
#barraNav li{
    font-size: 20px;

}
.divlogo img{ 
    width: 120px;
    height: 85px;
   } 

main {
    width: 100%;
    max-height: 450px;
    margin-bottom: 3px;
}
#carouselExampleControls {
    max-height: 440px;
}
.carousel-inner {
    width: 100%;
        max-height: 440px;
}

.fotosCarrusel {
    position: relative;
}

 .tituloImagenPrincipal {
    font-family: "Basquerville", "arial";
   font-style: bold;
   font-size: 50px;
   color: blanchedalmond;
   position: absolute;
   margin-left: 100px;
   margin-bottom: 1200px;
}

.tituloImagenPrincipal h1 {
    margin-left: 0px;
    margin-right: 1200px;
    row-gap: 0.1em;   
}
.design h1{
    margin-top: 5px;
    margin-inline: 200px;
    margin-bottom: 900px;

}  

footer {
    width: 1225;
    height: 100px;
    font-size: 25px;

    }
    
    .redesicons {
    list-style: none;
    gap: 1em;
    }
    
    footer a img {  
        width: 30px;  
        height: 30px;
    border-radius: 15px;
        list-style: none;
        transition: padding 2s; size: 1em 2s;
    }
    
    footer a img:hover {
        width: 50px;  
        height: 50px;
        padding: 0em;

    
    }
    
    .contactoGral {
    display: flex;
    justify-content: center;
    padding: 1em;
        
    }
    
    .contactoGral p {
        font-family: "Basquerville", "arial";
        color:  blanchedalmond;
        font-size: 10px;
    
    }    
    
    /* about Me*/

.card-body{
    background-image: linear-gradient(to left, rgb(227, 118, 34),#914a56,#ac273d, #4d0511);
    padding: 1em;
    height: 100%;
    font-family: "Basquerville", "arial";
    color:  blanchedalmond;
    font-size: 20px;
}

.aboutmeimg img{
width: 360px;
height: 203px;
}