
%textcomun {
    font-family: "Basquerville", "arial";
    font-style: bold;
    color: blanchedalmond;
}

%flexRowComun {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}