footer {
    width: 1225;
    height: 100px;
    font-size: 15px;
    color: antiquewhite;
    display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-areas: 
"redesicons contactoGral";

    .redesiconos {
        grid-area: redesicons;
       
       li { 
        gap: 1em;   
        display: flex;
        flex-direction: row-reverse;
       
       a{ width: 30px;  
            height: 30px;
            list-style: none;

        img {
            width: 30px;  
            height: 30px;
        border-radius: 15px;
            list-style: none; 
        
&:hover {
width: 50px;
height: 50px;
}
        }

    }

}
    }


.contactoGral {
    color: blanchedalmond;
    grid-area: contactoGral;
    display: flex;
    padding: 1em;
    padding-top: 5px;

    p {
        font-family: "Basquerville", "arial";
        color:  blanchedalmond;
        font-size: 20px;
        justify-content: flex-end;
    }    
    }


@media screen and (max-width: 478px) {
    grid-area: footer;
    grid-template-rows: repeat(2, 1fr);
        height: 40px;
        grid-template-areas: 
        "redesicons"
        "contactoGral";
        }

    
    }