footer {
color: map-get($colorespagina, colorPrincipal);
display: grid;
grid-template-columns: 2fr 1fr;
grid-template-areas: 
"redesicons contactoGral";
background-color: black;
position: absolute;
width: 100%;
height: 100vh;
margin-top: 1em;


ul {
    grid-area: redesicons;
    display: flex;
    list-style-type: none;
    flex:1;
    justify-content: space-between;
align-items: center;

    li {    
    display: flex;
flex-direction: row;
align-items: center;
list-style: none;
justify-content: space-between;
align-items: center;
gap: 1em;

       a{ 
            list-style: none;
            display: flex;
            flex-direction: row;
            align-items: center;

        img {
            width: 30px;  
            height: 30px;
        border-radius: 15px;
            list-style: none; 
            transition: padding 0.5s; size: 1em 0.5s;

        
&:hover {
width: 50px;
height: 50px;

}
        }
}

    }

}

.contactoGral {
    color: blanchedalmond;
    grid-area: contactoGral;
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    padding-top: 5px;

    p {
        font-family: "Basquerville", "arial";
        color:  blanchedalmond;
        font-size: 12px;
        transition: map-get($transicionespagina, transitionsecundaria );
   
&:hover {
    color: map-get($colorespagina, colortextsecundario);
    font-size: map-get($tamañospagina, fontsizehover)
}
   
    }    
    }

}

@media screen and (max-width: 478px){

    .footerElementos  {
        width: 100%;
        height: 100vh;
        display: grid;
        background-color: red;
    grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "redesicons"
        "contactoGral";

        ul{

grid-area: redesicons; 
display: flex;
justify-content: space-between;
align-content: center;           
        }

        .contactoGral{
            grid-area: contactoGral;
p {
                font-size: 10px;
            }  

        }
    
    }

}

@media screen and (max-width: 768px) {
    .footerElementos {
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
            grid-template-areas: 
            "redesicons"
            "contactoGral";
     ul{
         grid-area: redesicons;
         display: flex;
justify-content: space-between;
align-content: center;
                        }
                
.contactoGral{
          grid-area: contactoGral;
p {
    font-size: 10px;
}                      
        
        }
        }


}



