#barraNav {
    li {
        color: $colorText;
    
        a{  text-decoration: none;
            font-weight: bold;
            font-size: 20px;
            border: none;
            transition: padding 2s; font-size: medium 2s;   
            background-color: none; 
            color: $colorText;
        }
    
        a:hover{
            color: $colorText;
            text-decoration: none;
            font-weight: bold;
            border: none #ccc;
            padding: 0.6em;
            font-size: 1.5em;   
            background-color: black;     
        }
    
    }
    
    }
    
    .divlogo { 
    
        img{
            width: 120px;
            height: 85px;
            display: flex;
            justify-content: flex-end;
        }
    }
