
 
.elementosCabecera {
    color: blanchedalmond;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 1em;
    
    ul {

    .nav-item { 
        color: blanchedalmond;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    border: none;
        
        a{
    color: blanchedalmond;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    border: none;
    transition: padding 2s; font-size: medium 2s;

 &:hover {

    background-color: black;
    border: none #ccc;
    padding: 0.6em;
    font-size: 1.3em;  
 
 }
}
 }
 }
.divlogo {
    a{
    img {
        width: 50px;
        height: 50px;
        transition-delay: padding 2s;

    }
   &:hover {
    background-color: antiquewhite;
    transform: scale (2,2);
    padding: 0.8em;

   }
    }
}

 }

 @media screen and (max-width: 478px) and (orientation: landscape) {

.elementosCabecera{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-items: center;

    ul {
        display: flex;
        flex-direction: column;
    }

.nav-item{
 font-size: 15px;


  } 
.divlogo {
    display: flex;
    justify-content: center;
}

}
     
}