
.elementosCabecera   { 
    background-color: none !important;
/*position: relative;  */  
    color: blanchedalmond;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    padding-bottom: 1em;
    size: 30%; 

    ul {
    position: relative; 
    display: flex;
    flex-direction: row;
       color: blanchedalmond;
       text-decoration: none;
       font-weight: bold;
       font-size: 12px;
       padding-bottom: 1em;
       size: 30%;    
    
    .nav-item { 
        background-color: none;
    color: blanchedalmond;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    border: none;   
  
    a{
        color: blanchedalmond;
        text-decoration: none;
        font-weight: bold;
        font-size: 20px;
        border: none;
        padding: 0.6em;
        font-size: 1.3em;  
        transition: padding 4s; font-size: medium 2s;
    
     &:hover {
    
        background-color: black;
        border: none #ccc;
        padding: 0.6em;
        font-size: 1.3em;  
     
     }

    }
    }


}


}
@media screen and (max-width: 478px) {
    .elementosCabecera{

    .navbar {

        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
               
          
          .nav-item{
              position: relative;
              top: 25%;
              width: 100%;
              text-align: center;
              margin-top: 30px;
              font-size: 5px;
          
          
          a {
          padding: 8px;
          text-decoration: none;
          font-size: 36px;
          color: #818181;
          display: block;
          transition: 0.3s;
          
          &:hover {
              color: #f1f1f1;
          }
          
          }
          }
          
              }
          
          .divlogo {
              display: flex;
              justify-content: center;
          }
    }    
  


    }

}