.contactMain{
    max-width: 80%;

 
.contactTitulo {
    @extend %textcomun;
    font-size: 70px;
    margin-top: 5px;
    padding-bottom: 5px;
    margin-left: 40px;
  
    &:hover { 
        color: $colortextHover;
    
     }  

}

.ContactForm {
    font-size: 15px;
    width: 80vw;
    display: grid;
    padding-left: 3em;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    grid-template-areas: 
    "formularioIzq formularioDerecho";

.formularioIzq {
    grid-area: formularioIzq;
    padding-bottom: 10px;
    padding-right: 5px;
    size: 50%;

    input {
        width: 420px;
    height: 25px;
    padding-bottom: 5px;

    textarea {
        width: 500px;
        height: 150px;
    }

    }

}

.formularioDerecho {
    grid-area: formularioDerecho;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10px;
    margin-left: none;
    size: 50%;

    input {
#website{
width: 150px;
        height: 50px;
        padding-bottom: 5px; }
    }
        textarea {
            height: 150px;
            padding-bottom: 5px;
        }
    

.SubmitEnviar {
    border: none;
}

.SubmitEnviar input {
    width: 150px;
    height: 50px;
    border-radius: 10px;
   margin-left: 340px;
margin-top: 15px;


}
.botonesprincipal {
    background-color: black;
    color: blanchedalmond;

   &:hover {
color: map-get($colorespagina, colortextsecundario )

   } 
}  
        
}

}
.bajocontacto {



.gifatiko {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;

  .card-gif {
    @extend .contactTitulo
  }  

    img {

        width: 1020px;
        height: 230px;
    
    }
}
}
}


@media screen and (max-width: 478px){
    .contactMain {
        max-width: 430px;
        padding-left: 3%;
        display: grid;
         grid-template-rows: 1fr, 2fr, 2fr;
         grid-template-areas: 
         "contactTitulo"
         "ContactForm"
         "bajocontacto";

  
         .contactTitulo {
            max-width: 300px;  
            padding-left: 25%;      
            grid-area: contactTitulo;
            font-size: 15px;
            
         }
    .ContactForm {
font-size: 15px;
width: 430px;
grid-area: ContactForm;
        grid-template-rows: repeat(2, 1fr);
        gap: 0em;
        grid-template-areas: 
        "formularioIzq"
        "formularioDerecho";


        .formularioIzq{
            width: 430px;
            grid-area: formularioIzq;
            margin-right: 10%;
   

            input {
                width: 330px;
            }
            textarea {
                width: 330px;
            }
            
             }   
             
             .formularioDerecho {
                width: 430px;
                grid-area: formularioDerecho;
                margin-right: 10%;

            input {
width: 330px;

            }
    textarea {
width: 330px;

    }

    .SubmitEnviar input {
        margin-left: 170px;
    }
            
             }        


}

.bajocontacto{
    width: 450px;
    grid-area: bajocontacto;

.gifatiko{
    .card-gif {
font-size: 20px;


    }
}


}

}
}



@media screen and (max-width: 768px) {
 .contactMain {
max-width: 750px;
      height: auto;
       display: grid;
        grid-template-rows: 1fr, 2fr, 2fr;
        grid-template-areas: 
        "contactTitulo"
        "ContactForm"
        "bajocontacto";
 
.contactTitulo {
    grid-area: contactTitulo;
    font-size: 30px;
}
    
    .ContactForm {
        width: 750px;
        grid-area: ContactForm;
        display: grid;
                grid-template-rows: repeat(2, 1fr);
                grid-template-areas: 
                "formularioIzq"
                "formularioDerecho";


 .formularioIzq{
grid-area: formularioIzq;
size: 30%;
padding-left: 50%;
padding-bottom: 0%;

 }   
 
 .formularioDerecho {
    grid-area: formularioDerecho;
    size: 30%;
    padding-left: 50%;


 }
        
        }

.bajocontacto {
    grid-area: bajocontacto;

    .gifatiko {

<<<<<<< HEAD
@media screen and (max-width: 478px){
    .ContactForm {
        width: 100%;
        height: 100%;
grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "formularioIzq"
        "formularioDerecho";
=======
    
      .card-gif {
       font-size: 30px;
      }  
>>>>>>> version2

}

 }
}
}