main{

.imagenabout {
    padding-bottom: 5px;
    height: fit-content;

 .card-img-overlay {
    display: flex;
    justify-content: flex-end;
.card-banner2 {
    justify-content: flex-end;

}
.card-banner1{
    justify-content: flex-start;
}


 }   
.parrafoAbout2{
   color: $colorPrincipal;
   font-family: map-get($cardtitleimportant, $key: Basquerville );
justify-content: flex-end;

}
.parrafoAbout1{
    color: $colorPrincipal;
    font-family: map-get($cardtitleimportant, $key: Basquerville );
justify-content: flex-start;

}    


.card-body {
    @include cardloca ($bground: black, $color1: colorPrincipal);
    width: 28em;
    height: 8em;

img {
 height: 1em;
}

}

.cardabout {

background-color: none;

.aboutStory {
    @extend %textcomun;
    font-size: large;
    
}
.card-text {
    color: blanchedalmond;
    font-size:large;
}


}

.tituloImagen{

    .card-title{
    font-family: map-get($cardtitleimportant, font-family );
    color: map-get($cardtitleimportant, $colorPrincipal);
    font-size: 70px;
        display: flex;
        align-items: center;
    
     &:hover { 
        color: $colortextHover;
    
     }   
    
    }
    }
}
}