.servicesBody {
    color: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: fit-content;

.textoServices{
    @extend %textcomun;
    font-size: 3em; 
    display: flex;
    justify-items: flex-start;

}

.servicesBody iframe {
    display: flex;
    justify-items: center;
    padding: 1em;
    justify-items: center;

}

.cardoptionatiko {
    @extend %flexRowComun;
background-color: black;
height: fit-content;


.card {
    width: 290px;
    height: 150px;
}
}



}

@media screen and (max-width: 478px) and (orientation: landscape)  {
    .servicesBody {
width: 100%;


        .textoServices{
            font-size: 2em; 
            justify-items: center;


        }

    }
}
