/*.aboutMe {
margin: 3px 3px 3px 0px;
padding-top: 15px;
display: grid;
grid-template-columns: 1fr 2fr;
grid-template-rows: 1fr;
grid-template-areas: 
"asideIzq asideDer";


 .asideIzq {
    grid-area: asideIzq;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.aboutStory{
    font-family: "Basquerville", "arial";
    font-style: bold;
    font-size: 50px;
    color: blanchedalmond;
    align-items: flex-start;
}

.aboutparrafo {
    font-family: "Basquerville", "arial";
    font-style: bold;
    font-size: 35px;
    color: blanchedalmond;
}

.asideDer {
    display: grid;
    grid-area: asideDer;
    grid-template-columns: repeat(2, 1rf);
    grid-template-areas: 
    " img img";
}

.bancoImg:nth-of-type(1){
    grid-column: 1/2;
    grid-row: 1/2;
    grid-area: img;
}
.bancoImg:nth-of-type(2){
    grid-column: 2/3;
    grid-row: 1/2;
    grid-area: img;
}
.bancoImg:nth-of-type(3){
    grid-column: 1/2;
    grid-row: 2/3;
    grid-area: img;
}
.bancoImg:nth-of-type(4){
    grid-column: 2/3;
    grid-row: 2/3;
    grid-area: img;
}

.aboutMe img {
    margin-right:0px;
   width: 360px;
   height: 203px;
 
}
*/
.cardabout {

background-color: $colorCardsfondo;

}

.tituloImagen{

    .card-title{
    font-family: map-get($cardtitleimportant, font-family );
    color: map-get($cardtitleimportant, $colorPrincipal);
    font-size: 70px;
        display: flex;
        align-items: center;
    
     &:hover { 
        color: $colortextHover;
    
     }   
    
    }
    }
