
.cardabout {

background-color: $colorCardsfondo;

.aboutStory {
    @extend %textcomun;
    font-size: 30px;
}

}

.tituloImagen{

    .card-title{
    font-family: map-get($cardtitleimportant, font-family );
    color: map-get($cardtitleimportant, $colorPrincipal);
    font-size: 70px;
        display: flex;
        align-items: center;
    
     &:hover { 
        color: $colortextHover;
    
     }   
    
    }
    }
