.servicesBody {
    color: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;



.textoServices{
    @extend %textcomun;
    font-size: 3em; 
    display: flex;
    justify-items: flex-start;

}

.servicesBody iframe {
    display: flex;
    justify-items: center;
    padding: 1em;
    justify-items: center;

}
}

@media screen and (max-width: 478px) and (orientation: landscape)  {
    .servicesBody {
width: 100%;


        .textoServices{
            font-size: 2em; 
            justify-items: center;


        }

    }
}
