.servicesBody {
    color: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;


.textoServices{
    @extend %textcomun;
    font-size: 2em; 
    justify-items: flex-start;
    font-weight: bold;

}

.vimeo {
    display: flex;
    justify-content: center;

}

.cardoptionatiko {
    @extend %flexRowComun;
height: fit-content;
background-color: black;
padding: 10px;
border-radius: 15px;

.card.text-bg-dark.mb-3 { 
    width: max-content;
    height: max-content;

}
 
.card-header {
    @include cardloca ($bground: #e91e40, $color1: $colorPrincipal );
  font-size: large;

    &:hover {
        color:black;
        background-color: antiquewhite;
    }    
}

.card-body {
height: 100%;
width: 100%;

    h5 {
    font-size: 0.6em;
    color: $colortextsecundario;
    &:hover {
        color: black;
    }
    }
p {
color:antiquewhite;
font-size: small;

&:hover {
    color: $colortextsecundario;
}

}


}


}
}

@media screen and (max-width: 768px) {
    .servicesBody {
        width: 100%;
        
        
                .textoServices{
                    font-size: 2em; 
                    justify-items: center;
        
        
                }
                .cardoptionatiko {
                    flex-direction: column;
        
        
        
        
                }
            }

}

@media screen and (max-width: 478px) {
    .servicesBody {
width: 100%;


        .textoServices{
            font-size: 2em; 
            justify-items: center;


        }
        .cardoptionatiko {
            flex-direction: column;




        }
    }
}
