
/*colores */ 
$colortextHover: black; 
$colorPrincipal: blanchedalmond;
$colorCardsfondo: rgb(23, 23, 65);
/*tamaños*/


/*botones*/
$radiusBotComun: 15px;


/*transiciones*/
$transitionlenta: all 0.5s ease;




