
/*colores */ 
$colortextHover: black; 
$colorPrincipal: blanchedalmond;
$colorCardsfondo: rgb(214, 71, 227);
$colortextsecundario: #d0485e;
/*tamaños*/


/*botones*/
$radiusBotComun: 15px;


/*transiciones*/
$transitionlenta: all 0.5s ease;



