@charset "UTF-8";
/*colores */
/*tamaños*/
/*botones*/
/*transiciones*/
.servicesBody .textoServices, .cardabout .aboutStory, .contactTitulo {
  font-family: "Basquerville", "arial";
  font-style: bold;
  color: blanchedalmond;
}

.servicesBody .cardoptionatiko {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.elementosCabecera {
  color: blanchedalmond;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 1em;
  size: 30%;
}
.elementosCabecera ul .nav-item {
  color: blanchedalmond;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  border: none;
}
.elementosCabecera ul .nav-item a {
  color: blanchedalmond;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  border: none;
  padding: 0.6em;
  font-size: 1.3em;
  transition: padding 2s;
  font-size: medium 2s;
}
.elementosCabecera ul .nav-item a:hover {
  background-color: black;
  border: none #ccc;
  padding: 0.6em;
  font-size: 1.3em;
}
.elementosCabecera .divlogo a img {
  width: 50px;
  height: 50px;
  transition-delay: padding 2s;
}
.elementosCabecera .divlogo a:hover {
  background-color: antiquewhite;
  transform: scale 2, 2;
  padding: 0.8em;
}

@media screen and (max-width: 768px) {
  .elementosCabecera {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }
  .elementosCabecera ul {
    flex-direction: column;
    justify-content: center;
  }
  .elementosCabecera .nav-item {
    font-size: 15px;
  }
  .elementosCabecera .divlogo {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 476px) {
  .elementosCabecera {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }
  .elementosCabecera ul {
    flex-direction: column;
    justify-content: center;
  }
  .elementosCabecera .nav-item {
    font-size: 15px;
  }
  .elementosCabecera .divlogo {
    display: flex;
    justify-content: center;
  }
}
footer {
  color: blanchedalmond;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "redesicons contactoGral";
  background-color: black;
  size: 20%;
}
footer ul {
  grid-area: redesicons;
  display: flex;
  list-style-type: none;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}
footer ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}
footer ul li a {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer ul li a img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  list-style: none;
  transition: padding 0.5s;
  size: 1em 0.5s;
}
footer ul li a img:hover {
  width: 50px;
  height: 50px;
}
footer .contactoGral {
  color: blanchedalmond;
  grid-area: contactoGral;
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  padding-top: 5px;
}
footer .contactoGral p {
  font-family: "Basquerville", "arial";
  color: blanchedalmond;
  font-size: 15px;
  transition: all 2s ease;
}
footer .contactoGral p:hover {
  color: #d0485e;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .footerElementos {
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "redesicons" "contactoGral";
  }
  .footerElementos ul {
    grid-area: redesicons;
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  .footerElementos .contactoGral {
    grid-area: contactoGral;
  }
}
@media screen and (max-width: 478px) {
  footer {
    display: grid;
    background-color: red;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "redesicons" "contactoGral";
  }
  footer ul {
    grid-area: redesicons;
  }
  footer .contactoGral {
    grid-area: contactoGral;
  }
}
main {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 3px;
  size: 50%;
}
main #carouselExampleControls {
  max-height: 440px;
}
main .carousel-inner {
  width: 100%;
  max-height: 440px;
}
main .fotosCarrusel {
  position: relative;
}
main .card-title {
  color: blanchedalmond;
  font-size: 80px;
}
main .card-title:hover {
  color: #d0485e;
}
@media screen and (max-width: 768px) {
  main .card-title {
    font-size: 40px;
  }
}
@media screen and (max-width: 476px) {
  main .card-title {
    font-size: 20px;
  }
}

.contactTitulo {
  font-size: 70px;
  margin-top: 5px;
  padding-bottom: 5px;
  margin-left: 40px;
}
.contactTitulo:hover {
  color: black;
}

.ContactForm {
  font-size: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "formularioIzq formularioDerecho";
}
.ContactForm .formularioIzq {
  grid-area: formularioIzq;
  padding-bottom: 10px;
  padding-right: 5px;
}
.ContactForm .formularioIzq input {
  width: 500px;
  height: 25px;
  padding-bottom: 5px;
}
.ContactForm .formularioIzq input textarea {
  width: 500px;
  height: 150px;
}
.ContactForm .formularioDerecho {
  grid-area: formularioDerecho;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10px;
  margin-left: none;
}
.ContactForm .formularioDerecho input #website {
  width: 200px;
  height: 70px;
  padding-bottom: 5px;
}
.ContactForm .formularioDerecho textarea {
  height: 150px;
  padding-bottom: 5px;
}
.ContactForm .formularioDerecho .SubmitEnviar {
  border: none;
}
.ContactForm .formularioDerecho .SubmitEnviar input {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  margin-left: 340px;
  margin-top: 15px;
}
.ContactForm .formularioDerecho .botonesprincipal {
  background-color: black;
  color: blanchedalmond;
}
.ContactForm .formularioDerecho .botonesprincipal:hover {
  color: #d0485e;
}

@media screen and (max-width: 478px) {
  .ContactForm {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "formularioIzq" "formularioDerecho";
  }
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  list-style: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.gallery img {
  width: 590px;
  height: 300px;
  transition: opacity 0.4s;
}
.gallery img:hover {
  text-decoration: none;
  filter: brightness(0.9);
  cursor: pointer;
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .gallery {
    flex-direction: column;
    align-items: center;
    gap: 0.5px;
    width: 100% vw;
    height: 100% vh;
  }
  .gallery img {
    width: 100% vw;
    height: 100% vh;
  }
}
@media screen and (max-width: 476px) {
  .gallery {
    flex-direction: column;
    align-items: center;
    gap: 0.5px;
    width: 100% vw;
    height: 100% vh;
  }
  .gallery img {
    width: 100% vw;
    height: 100% vh;
  }
  .card-title {
    font-size: 1em;
  }
}
.cardabout {
  background-color: rgb(214, 71, 227);
}
.cardabout .aboutStory {
  font-size: 30px;
}

.tituloImagen .card-title {
  font-family: "Basquerville";
  color: blanchedalmond;
  font-size: 70px;
  display: flex;
  align-items: center;
}
.tituloImagen .card-title:hover {
  color: black;
}

.servicesBody {
  color: blanchedalmond;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.servicesBody .textoServices {
  font-size: 3em;
  justify-items: flex-start;
}
.servicesBody .vimeo {
  display: flex;
  justify-content: center;
}
.servicesBody .cardoptionatiko {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: black;
  padding: 10px;
  border-radius: 40px;
}
.servicesBody .cardoptionatiko .card.text-bg-dark.mb-3 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.servicesBody .cardoptionatiko .card-header {
  background-color: #e91e40;
  border-radius: 10px;
  color: blanchedalmond;
  font-size: 30px;
  font-family: "Basquerville", "arial";
  font-style: bold;
}
.servicesBody .cardoptionatiko .card-header:hover {
  color: black;
  background-color: antiquewhite;
}
.servicesBody .cardoptionatiko .card-body h5 {
  font-size: large;
  color: #d0485e;
}
.servicesBody .cardoptionatiko .card-body h5:hover {
  color: black;
}
.servicesBody .cardoptionatiko .card-body p {
  color: black;
}
.servicesBody .cardoptionatiko .card-body p:hover {
  color: #d0485e;
}

@media screen and (max-width: 768px) {
  .servicesBody {
    width: 100%;
  }
  .servicesBody .textoServices {
    font-size: 2em;
    justify-items: center;
  }
  .servicesBody .cardoptionatiko {
    flex-direction: column;
  }
}
@media screen and (max-width: 478px) and (orientation: landscape) {
  .servicesBody {
    width: 100%;
  }
  .servicesBody .textoServices {
    font-size: 2em;
    justify-items: center;
  }
  .servicesBody .cardoptionatiko {
    flex-direction: column;
  }
}
#bodycompleto {
  background-image: url("../Images/bg01.jpg");
  font-family: "Basquerville", "arial";
  font-style: bold;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

@media screen and (max-width: 478px) {
  #bodycompleto {
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: "header" "main" "footer";
  }
  #bodycompleto header {
    grid-area: header;
  }
  #bodycompleto main {
    grid-area: main;
    justify-content: center;
    width: 100vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #bodycompleto footer {
    grid-area: footer;
    width: 100 vw;
    height: 100vh;
  }
}/*# sourceMappingURL=styles.css.map */