.elementosCabecera {
  color: blanchedalmond;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 1em;
}
.elementosCabecera ul .nav-item {
  color: blanchedalmond;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  border: none;
}
.elementosCabecera ul .nav-item a {
  color: blanchedalmond;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  border: none;
  transition: padding 2s;
  font-size: medium 2s;
}
.elementosCabecera ul .nav-item a:hover {
  background-color: black;
  border: none #ccc;
  padding: 0.6em;
  font-size: 1.3em;
}
.elementosCabecera .divlogo a img {
  width: 50px;
  height: 50px;
  transition-delay: padding 2s;
}
.elementosCabecera .divlogo a:hover {
  background-color: antiquewhite;
  transform: scale 2, 2;
  padding: 1em;
}

@media screen and (max-width: 478px) {
  .elementosCabecera {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-items: center;
  }
  .elementosCabecera ul {
    display: flex;
    flex-direction: column;
  }
  .elementosCabecera .nav-item {
    font-size: 15px;
  }
  .elementosCabecera .divlogo {
    display: flex;
    justify-content: center;
  }
}
footer {
  width: 1225;
  height: 100px;
  font-size: 15px;
  color: antiquewhite;
}
footer .redesicons {
  grid-area: redesicons;
  list-style: none;
  gap: 1em;
}
footer a img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  list-style: none;
  transition: padding 2s;
  size: 1em 2s;
}
footer a img:hover img {
  width: 50px;
  height: 50px;
  padding: 0.6em;
}
footer a .contactoGral {
  color: blanchedalmond;
  grid-area: contactoGral;
  display: flex;
  padding: 1em;
}
footer a .contactoGral p {
  font-family: "Basquerville", "arial";
  color: blanchedalmond;
  font-size: 20px;
  justify-content: flex-end;
}
@media screen and (max-width: 478px) {
  footer {
    grid-area: footer;
    grid-template-rows: repeat(2, 1fr);
    height: 40px;
    grid-template-areas: "redesicons" "contactoGral";
  }
}

main {
  width: 100%;
  height: 100%;
  margin-bottom: 3px;
}

#carouselExampleControls {
  max-height: 440px;
}

.carousel-inner {
  width: 100%;
  max-height: 440px;
}

.fotosCarrusel {
  position: relative;
}

.card-title {
  font-family: "Basquerville", "arial";
  font-style: bold;
  font-size: 50px;
  color: blanchedalmond;
}

.contactTitulo {
  font-family: "Basquerville", "arial";
  font-style: bold;
  color: blanchedalmond;
  font-size: 70px;
  margin-top: 5px;
  padding-bottom: 5px;
  margin-left: 40px;
}

.ContactForm {
  font-size: 20px;
  margin-left: 25px;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-areas: "formularioIzq formularioDerecho";
}
.ContactForm .formularioIzq {
  grid-area: formularioIzq;
  padding-bottom: 10px;
  padding-right: 5px;
}
.ContactForm .formularioIzq input {
  width: 500px;
  height: 25px;
  padding-bottom: 5px;
}
.ContactForm .formularioIzq input textarea {
  width: 500px;
  height: 150px;
}
.ContactForm .formularioDerecho {
  grid-area: formularioDerecho;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10px;
  margin-left: none;
}
.ContactForm .formularioDerecho input #website {
  width: 200px;
  height: 70px;
  padding-bottom: 5px;
}
.ContactForm .formularioDerecho textarea {
  height: 150px;
  padding-bottom: 5px;
}
.ContactForm .formularioDerecho .SubmitEnviar {
  border: none;
}
.ContactForm .formularioDerecho .SubmitEnviar input {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  margin-left: 340px;
  margin-top: 15px;
}

@media screen and (max-width: 478px) {
  .ContactForm {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 2fr);
    grid-template-areas: "formularioIzq" "formularioDerecho";
  }
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  list-style: none;
}
.gallery img {
  width: 590px;
  height: 300px;
}
.gallery img:hover {
  text-decoration: none;
  filter: brightness(0.9);
  cursor: pointer;
}

.aboutMe {
  margin: 3px 3px 3px 0px;
  padding-top: 15px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: "asideIzq asideDer";
}

.asideIzq {
  grid-area: asideIzq;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.aboutStory {
  font-family: "Basquerville", "arial";
  font-style: bold;
  font-size: 50px;
  color: blanchedalmond;
  align-items: flex-start;
}

.aboutparrafo {
  font-family: "Basquerville", "arial";
  font-style: bold;
  font-size: 35px;
  color: blanchedalmond;
}

.asideDer {
  display: grid;
  grid-area: asideDer;
  grid-template-columns: repeat(2, 1rf);
  grid-template-areas: " img img";
}

.bancoImg:nth-of-type(1) {
  grid-column: 1/2;
  grid-row: 1/2;
  grid-area: img;
}

.bancoImg:nth-of-type(2) {
  grid-column: 2/3;
  grid-row: 1/2;
  grid-area: img;
}

.bancoImg:nth-of-type(3) {
  grid-column: 1/2;
  grid-row: 2/3;
  grid-area: img;
}

.bancoImg:nth-of-type(4) {
  grid-column: 2/3;
  grid-row: 2/3;
  grid-area: img;
}

.aboutMe img {
  margin-right: 0px;
  width: 360px;
  height: 203px;
}

.servicesBody {
  color: blanchedalmond;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.servicesBody .textoServices {
  font-family: "Basquerville", "arial";
  font-style: bold;
  color: blanchedalmond;
  font-size: 3em;
  display: flex;
  justify-items: flex-start;
}
.servicesBody .servicesBody iframe {
  display: flex;
  justify-items: center;
  padding: 1em;
  justify-items: center;
}

@media screen and (max-width: 478px) {
  .servicesBody {
    width: 100%;
  }
  .servicesBody .textoServices {
    font-size: 2em;
    justify-items: center;
  }
}
#bodycompleto {
  background-image: url("../Images/bg01.jpg");
  font-family: "Basquerville", "arial";
  font-style: bold;
  max-width: 100%;
}

@media screen and (max-width: 478px) {
  #bodycompleto {
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: "header" "main" "footer";
  }
  #bodycompleto header {
    grid-area: header;
  }
  #bodycompleto main {
    grid-area: main;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
}/*# sourceMappingURL=styles.css.map */