@import "./partials/header";
@import "./partials/footer";
@import "./partials/_mainInicial";
@import "./partials/mainContact";
@import "./partials/mainGallery";
@import "./partials/mainAboutme";

#bodycompleto{
    background-image: url("../Images/bg01.jpg");
   font-family: "Basquerville", "arial";
   font-style: bold;
   max-width: 100%;
}

   @media screen and (max-width: 478px) {

    #bodycompleto{ 
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr;
        grid-template-areas: 
"header"
"main"
"footer";
    

header {
    grid-area: header;
}

main {
    grid-area: main;
    justify-content: center;
    width: 100%;
 height: 100%;

    }

    }
}