@charset "UTF-8";
/*colores */
/*tamaños*/
/*botones*/
/*transiciones*/
.servicesBody .textoServices, main .cardabout .aboutStory, .contactMain .contactTitulo, .contactMain .bajocontacto .gifatiko .card-gif {
  font-family: "Basquerville", "arial";
  font-style: bold;
  color: blanchedalmond;
}

.servicesBody .cardoptionatiko {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.elementosCabecera {
  color: blanchedalmond;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  padding-bottom: 1em;
  size: 30%;
}
.elementosCabecera ul .nav-item {
  color: blanchedalmond;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  border: none;
}
.elementosCabecera ul .nav-item a {
  color: blanchedalmond;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  border: none;
  padding: 0.6em;
  font-size: 1.3em;
  transition: padding 2s;
  font-size: medium 2s;
}
.elementosCabecera ul .nav-item a:hover {
  background-color: black;
  border: none #ccc;
  padding: 0.6em;
  font-size: 1.3em;
}
.elementosCabecera .divlogo a img {
  width: 50px;
  height: 50px;
  transition-delay: padding 2s;
}
.elementosCabecera .divlogo a:hover {
  background-color: antiquewhite;
  transform: scale 2, 2;
  padding: 0.8em;
}

@media screen and (max-width: 478px) {
  .elementosCabecera {
    display: flex;
    flex-direction: column;
    justify-items: center;
    size: 10%;
  }
  .elementosCabecera ul {
    flex-direction: column;
    justify-content: center;
  }
  .elementosCabecera .nav-item li {
    font-size: 5px;
  }
  .elementosCabecera .divlogo {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .elementosCabecera {
    display: flex;
    flex-direction: column;
    justify-items: center;
    size: 10%;
  }
  .elementosCabecera ul {
    flex-direction: column;
    justify-content: center;
  }
  .elementosCabecera .nav-item li {
    font-size: 5px;
  }
  .elementosCabecera .divlogo {
    display: flex;
    justify-content: center;
  }
}
footer {
  color: blanchedalmond;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "redesicons contactoGral";
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100vh;
  margin-top: 1em;
}
footer ul {
  grid-area: redesicons;
  display: flex;
  list-style-type: none;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}
footer ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}
footer ul li a {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer ul li a img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  list-style: none;
  transition: padding 0.5s;
  size: 1em 0.5s;
}
footer ul li a img:hover {
  width: 50px;
  height: 50px;
}
footer .contactoGral {
  color: blanchedalmond;
  grid-area: contactoGral;
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  padding-top: 5px;
}
footer .contactoGral p {
  font-family: "Basquerville", "arial";
  color: blanchedalmond;
  font-size: 12px;
  transition: all 2s ease;
}
footer .contactoGral p:hover {
  color: #d0485e;
  font-size: 14px;
}

@media screen and (max-width: 478px) {
  .footerElementos {
    width: 100%;
    height: 100vh;
    display: grid;
    background-color: red;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "redesicons" "contactoGral";
  }
  .footerElementos ul {
    grid-area: redesicons;
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  .footerElementos .contactoGral {
    grid-area: contactoGral;
  }
  .footerElementos .contactoGral p {
    font-size: 10px;
  }
}
@media screen and (max-width: 768px) {
  .footerElementos {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "redesicons" "contactoGral";
  }
  .footerElementos ul {
    grid-area: redesicons;
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  .footerElementos .contactoGral {
    grid-area: contactoGral;
  }
  .footerElementos .contactoGral p {
    font-size: 10px;
  }
}
/* main {
    width: fit-content;
    margin-bottom:3px;
    size: 50%;
*/
#carouselExampleControls {
  max-height: 440px;
}

.carousel-inner {
  width: 100%;
  max-height: 440px;
}

.fotosCarrusel {
  position: relative;
}

.card-title {
  color: blanchedalmond;
  font-size: 80px;
}
.card-title:hover {
  color: #d0485e;
}

@media screen and (max-width: 768px) {
  .card-title {
    font-size: 40px;
  }
}
@media screen and (max-width: 478px) {
  .card-title {
    font-size: 20px;
  }
}
.contactMain {
  max-width: 80%;
}
.contactMain .contactTitulo, .contactMain .bajocontacto .gifatiko .card-gif {
  font-size: 70px;
  margin-top: 5px;
  padding-bottom: 5px;
  margin-left: 40px;
}
.contactMain .contactTitulo:hover, .contactMain .bajocontacto .gifatiko .card-gif:hover {
  color: black;
}
.contactMain .ContactForm {
  font-size: 15px;
  width: 80vw;
  display: grid;
  padding-left: 3em;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  grid-template-areas: "formularioIzq formularioDerecho";
}
.contactMain .ContactForm .formularioIzq {
  grid-area: formularioIzq;
  padding-bottom: 10px;
  padding-right: 5px;
  size: 50%;
}
.contactMain .ContactForm .formularioIzq input {
  width: 420px;
  height: 25px;
  padding-bottom: 5px;
}
.contactMain .ContactForm .formularioIzq input textarea {
  width: 500px;
  height: 150px;
}
.contactMain .ContactForm .formularioDerecho {
  grid-area: formularioDerecho;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10px;
  margin-left: none;
  size: 50%;
}
.contactMain .ContactForm .formularioDerecho input #website {
  width: 150px;
  height: 50px;
  padding-bottom: 5px;
}
.contactMain .ContactForm .formularioDerecho textarea {
  height: 150px;
  padding-bottom: 5px;
}
.contactMain .ContactForm .formularioDerecho .SubmitEnviar {
  border: none;
}
.contactMain .ContactForm .formularioDerecho .SubmitEnviar input {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  margin-left: 340px;
  margin-top: 15px;
}
.contactMain .ContactForm .formularioDerecho .botonesprincipal {
  background-color: black;
  color: blanchedalmond;
}
.contactMain .ContactForm .formularioDerecho .botonesprincipal:hover {
  color: #d0485e;
}
.contactMain .bajocontacto .gifatiko {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}
.contactMain .bajocontacto .gifatiko img {
  width: 1020px;
  height: 230px;
}
@media screen and (max-width: 768px) {
  .contactMain .contactMain {
    display: flex;
    justify-content: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 100vh;
  }
  .contactMain .ContactForm {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "formularioIzq" "formularioDerecho";
  }
}
@media screen and (max-width: 478px) {
  .contactMain .contactMain {
    display: flex;
    justify-content: center;
    height: 100vh;
  }
  .contactMain .contactMain .formuflex {
    display: flex;
    justify-content: center;
    max-width: 80%;
  }
  .contactMain .contactMain .formuflex .ContactForm {
    font-size: 15px;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "formularioIzq" "formularioDerecho";
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.gallery img {
  width: 500px;
  height: 270px;
  transition: opacity 0.4s;
}
.gallery img:hover {
  text-decoration: none;
  filter: brightness(0.9);
  cursor: pointer;
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .gallery {
    flex-direction: column;
    align-items: center;
    gap: 0.5px;
    width: 100% vw;
    height: 100% vh;
  }
}
@media screen and (max-width: 478px) {
  .gallery {
    flex-direction: column;
    align-items: center;
    gap: 0.5px;
    width: 100% vw;
    height: 100% vh;
  }
  .card-title {
    font-size: 1em;
  }
}
main .imagenabout {
  padding-bottom: 5px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
main .imagenabout .card-img-overlay {
  display: flex;
  border: none;
}
main .imagenabout .card-img-overlay .fotoarriba {
  margin-left: 40em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
main .imagenabout .card-img-overlay .fotoarriba .card-banner2 {
  font-size: 2em;
  font-weight: bold;
  width: 20em;
}
main .imagenabout .card-img-overlay .fotoarriba .card-banner2:hover {
  color: #d0485e;
}
main .imagenabout .card-img-overlay .fotoarriba .parrafoAbout2 {
  color: blanchedalmond;
  font-weight: lighter;
  width: 20em;
}
main .imagenabout .card-img-overlay .fotoarriba .parrafoAbout2:hover {
  color: black;
}
main .imagenabout .card-img-overlay .fotoabajo {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 500px;
  height: 100vh;
  margin-left: 20px;
}
main .imagenabout .card-img-overlay .fotoabajo .card-banner1 {
  font-size: 2em;
  font-weight: 900;
  justify-items: center;
  width: 20em;
}
main .imagenabout .card-img-overlay .fotoabajo .card-banner1:hover {
  color: #d0485e;
}
main .imagenabout .card-img-overlay .fotoabajo .parrafoAbout1 {
  color: blanchedalmond;
  justify-content: flex-start;
  font-weight: lighter;
  width: 20em;
}
main .imagenabout .card-img-overlay .fotoabajo .parrafoAbout1:hover {
  color: black;
}
main .card-body {
  background-color: black;
  border-radius: 10px;
  color: colorPrincipal;
  font-size: 30px;
  font-family: "Basquerville", "arial";
  font-style: bold;
  width: 28em;
  height: 8em;
}
main .card-body img {
  height: 1em;
}
main .cardabout {
  background-color: none;
}
main .cardabout .aboutStory {
  font-size: large;
}
main .cardabout .card-text {
  color: blanchedalmond;
  font-size: large;
}
main .tituloImagen .card-title {
  font-family: "Basquerville";
  color: blanchedalmond;
  font-size: 70px;
  display: flex;
  align-items: center;
}
main .tituloImagen .card-title:hover {
  color: black;
}

.servicesBody {
  color: blanchedalmond;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: fit-content; */
}
.servicesBody .textoServices {
  font-size: 2.5em;
  justify-items: flex-start;
  font-weight: bold;
}
.servicesBody .vimeo {
  display: flex;
  justify-content: center;
}
.servicesBody .cardoptionatiko {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: black;
  padding: 10px;
  border-radius: 40px;
}
.servicesBody .cardoptionatiko .card.text-bg-dark.mb-3 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.servicesBody .cardoptionatiko .card-header {
  background-color: #e91e40;
  border-radius: 10px;
  color: blanchedalmond;
  font-size: 30px;
  font-family: "Basquerville", "arial";
  font-style: bold;
  font-size: large;
}
.servicesBody .cardoptionatiko .card-header:hover {
  color: black;
  background-color: antiquewhite;
}
.servicesBody .cardoptionatiko .card-body {
  height: 100%;
  width: 100%;
}
.servicesBody .cardoptionatiko .card-body h5 {
  font-size: 1em;
  color: #d0485e;
}
.servicesBody .cardoptionatiko .card-body h5:hover {
  color: black;
}
.servicesBody .cardoptionatiko .card-body p {
  color: black;
  font-size: small;
}
.servicesBody .cardoptionatiko .card-body p:hover {
  color: #d0485e;
}

@media screen and (max-width: 768px) {
  .servicesBody {
    width: 100%;
  }
  .servicesBody .textoServices {
    font-size: 2em;
    justify-items: center;
  }
  .servicesBody .cardoptionatiko {
    flex-direction: column;
  }
}
@media screen and (max-width: 478px) {
  .servicesBody {
    width: 100%;
  }
  .servicesBody .textoServices {
    font-size: 2em;
    justify-items: center;
  }
  .servicesBody .cardoptionatiko {
    flex-direction: column;
  }
}
#bodycompleto {
  background-image: url("../Images/bg01.jpg");
  font-family: "Basquerville", "arial";
  font-style: bold;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas: "header" "main" "footer";
}
#bodycompleto header {
  grid-area: header;
  height: 15%;
  width: 100vw;
}
#bodycompleto main {
  grid-area: main;
  justify-content: center;
  width: 100vw;
}
#bodycompleto footer {
  grid-area: footer;
  width: 100vw;
  height: 30vh;
}/*# sourceMappingURL=styles.css.map */